<!-- Use this form to create a new instance.
Password functionality will come later. -->
<div class="container-default-background">
  <%= simple_form_for @instance do |f| %>
    <%= f.input :name, label_html: { class: "p-normal" } %>
    <%= f.button :submit, class: 'submit-btn', value: "Create your new exchange group" %>
  <% end %>
</div>
