<!-- Use this form to create a new instance.
Password functionality will come later. -->
<%= simple_form_for @instance do |f| %>
  <%= f.input :name %>
  <%= f.button :submit, class: 'submit-btn' %></button>
<% end %>
