<h2><%= @instance.name %></h2>

<!-- directs the user to create information if not yet made for the instance, else edit their information -->
<% if @beer %>
  <%= link_to "edit your information", instance_beer_path(@instance, @beer) %>
<% else %>
  <%= link_to "Register your information", new_instance_beer_path(@instance) %>
<% end %>
