<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the beer exchange friend</h1>
    <%= @recipient.name %>
    <%= @recipient.address %>
    <%= @recipient.address_line2 %>
    <%= @recipient.preferences %>
  </body>
</html>
