<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the beer exchange friend</h1>
    <p>
      You have succesfully registered,
      you will soon be partnered up with someone and receive another email from us.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p> t. Jebbs and Saltenfisk</p>
  </body>
</html>
