<div class="homepage">
  <img class="beer" src="https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
  <p>Beer Exchange</p>
  <p>Heres the quick run down</p>
  <div class="step-box-div">
    <p class="step-box">Click the "Get Started" link in the top right on the nav bar on your screen. You will be prompted to enter the shipping information. It is highly recommended that you accurately fill out this form. Experience has shown that people using fake addresses to protect their identity don't get their beer.</p>
    <p class="step-box">At some date (yet to be decided) we will give everyone a person to whom they will be tasked to send beer. You are this person's secret santa, so make it a merry christmas and don't give them a sixpack of pabst blue ribbon.</p>
    <p class="step-box">Please excuse the rough appearance of the website at the present stage. It was coded by a duo of very recent bootcamp graduates in a few days next to full-time work. Rest assured we did none of the encryption ourselves. Good luck and merry christmas!</p>
  </div>
</div>
