<div class="homepage">
<img class="beer" src="https://images.unsplash.com/photo-1525034687081-c702010cb70d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="">
<p>Beer Exchange</p>
<p>Heres the quick run down</p>
<div class="step-box-div">
<p class="step-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit nisi facilisis odio tempor ultricies. Etiam varius dolor non metus accumsan, ut luctus tortor dignissim. Donec ut libero nec arcu varius pulvinar. Donec id metus id lorem lacinia aliquam sed vitae risus. Vestibulum suscipit rhoncus leo.</p>
<p class="step-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit nisi facilisis odio tempor ultricies. Etiam varius dolor non metus accumsan, ut luctus tortor dignissim. Donec ut libero nec arcu varius pulvinar. Donec id metus id lorem lacinia aliquam sed vitae risus. Vestibulum suscipit rhoncus leo.</p>
<p class="step-box">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam hendrerit nisi facilisis odio tempor ultricies. Etiam varius dolor non metus accumsan, ut luctus tortor dignissim. Donec ut libero nec arcu varius pulvinar. Donec id metus id lorem lacinia aliquam sed vitae risus. Vestibulum suscipit rhoncus leo.</p>
</div>

</div>
