This page is only for testing and should be deleted before the page is deployed to production.
Mass doxing potential.

<% @beers.each do |beer| %>
  <p> Name: <%= beer.name %></p>
  <p> Address: <%= beer.address %></p>
  <p> Address line 2: <%= beer.address_line2 %></p>
  <p> Preferences: <%= beer.preferences %> </p>
<% end %>
