This page is only for testing and should be deleted before the page is deployed to production.
Mass doxing potential.
(Has now been deleted)
<!--         <li class="nav-item">
          <% if !current_user.beer %>
            <%= link_to "Register information(deprecated)", "/beers/new", class: "nav-link" %>
          <% else %>
            <%= link_to "Your information", instance_beer_path(@instance, @beers), class: "nav-link" %>
          <% end %>
        </li> -->
