@font-face {
  font-family: 'Fredoka One';
  src: url("../../fonts/FredokaOne-Regular.ttf");
}

.homepage {
    font-family: 'Fredoka One';
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    margin-top: 25px;
    font-size: 29px;
  }

  .homepage-warning {
    font-family: 'Fredoka One';
    color: #cc3300;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    margin-top: 25px;
    font-size: 29px;
} 


.links {
  text-align: center;
}

  .beer { 
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  }
  
  .step-box-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .step-box {
    width: 75vw;
    max-width: 720px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.25);
  }

  .beer-forum {
    margin-top: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .main-container{
    width: 1200px;
    margin: 0 auto;
  }

  .contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    padding: 15px;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-bottom: 50px; 
    font-size: 20px;
    color: black;
    margin-top: 50px;
 }

 .submit-btn{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: black;
  border:none;
}

.submit-btn:hover {
  color: #c1c1c1;
  //you can add more styles to be applied on hover
}