@font-face {
  font-family: 'Fredoka One';
  src: url("../../fonts/FredokaOne-Regular.ttf");
}

body {
  text-align: center;
}

.homepage {
    font-family: 'Fredoka One';
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    margin-top: 25px;
    font-size: 29px;
  }

  .homepage-warning {
    font-family: 'Fredoka One';
    color: #cc3300;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    text-align: center;
    margin-top: 25px;
    font-size: 29px;
}




.links {
  text-align: center;
}

  .beer {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -1;
  }

  .top-container {
    background-color: #EAF6F6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 650px;
    text-align: center;
    filter: grayscale(70%);
    background-image: url("https://images.unsplash.com/photo-1436076863939-06870fe779c2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  }

  .p-normal {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5em;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    margin-bottom: 2em;
  }

  .p-works {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5em;
    color: black;
    margin-bottom: 2em;
  }

  .top-container-content {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;

    h1 {
      font-size: 3.3rem;
    }

    @media (min-width: 800px) {
      top: 80%;

      h1{font-size: 4rem;}
    }
  }

  h1 {
    line-height: 1.4em;
    color: #fff;
    text-shadow: 3px 3px 5px #000;
    display: block;
    // margin-block-start: 0.67em;
    // margin-block-end: 0.05em;
    // margin-inline-start: 0px;
    // margin-inline-end: 0px;
    font-weight: bold;
  }
  .step-box-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .step-box {
    width: 75vw;
    max-width: 720px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(200, 200, 200, 0.25);
  }

  .beer-forum {
    margin-top: 40px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  }

  .main-container{
    width: 1200px;
    margin: 0 auto;
  }

  .contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #c1c1c1;
    padding: 15px;
    border-radius: 5px;
    background-color: #eaeaea;
    margin-bottom: 50px;
    font-size: 20px;
    color: black;
    margin-top: 50px;
 }

 .submit-btn{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background-color: black;
  border:none;
}

.submit-btn:hover {
  color: #c1c1c1;
  //you can add more styles to be applied on hover
}

.homepage-get-started {
  margin: 0px;
  background-color: #3D315B;
  color: white;
  border-radius: 20px;
  border: 1px solid #fff;
  font-weight: 700;
  //  height: 60px;
  line-height: 60px;
  padding: 1px;
  margin: 2px;
  font-size: 2.6rem;
  border-radius: 30px;
  display: inline-block;

  @media (min-width: 800px) {
    padding: 0 40px;
  }
}

.works-get-started {
  margin: 0px;
  background-color: #3D315B;
  color: white;
  border-radius: 20px;
  border: 1px solid #fff;
  font-weight: 700;
  //  height: 60px;
  line-height: 60px;
  padding: 1px;
  margin: 2px;
  font-size: 1.9rem;
  border-radius: 30px;
  display: inline-block;

  @media (min-width: 800px) {
    padding: 0 40px;
  }
}

.works-get-started:hover {
  background-color: #776e8c !important;
  border-color: #776e8c !important;
  text-decoration: none;
  color: white;
  }

.homepage-get-started:hover {
background-color: rgba(255,255,255,0.3) !important;
border-color: currentColor !important;
text-decoration: none;
color: white;
}

.container-fluid{padding: 7% 15%;}

/* sections  */
.purple-section{background-color: #776e8c;}
.white-section {
  background-color: #fff;
}

/* Features section */
#features {position: relative;z-index: 1;}
.feature-box{padding: 5%;
  flex-direction: row;}
.feature-text{font-size: 1.5rem;}

.icon{color: #3D315B;margin-bottom: 1rem;}

.icon-works{color: #fff;margin-bottom: 1rem;}
.circle-icon {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}
.circle-icon-works {
  background: #3D315B;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 73px;
  vertical-align: middle;
}

.tick-box {
  color: #fff;
}

.tick-circle-icon {
  background: #3D315B;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}




.secpaddingTB60 {
  padding-top:60px;
  padding-bottom:60px;
}

.section-title {
  font-weight:400;
  letter-spacing:.5px;
  text-transform:none;
  color:#000;
}
.section-titlepara {
  font-weight:400;
  text-transform:none;
  color:#636363;
}

.border {
  background: #e2e2e2;
  height: 1px;
  width: 265px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}


.i-how-it-works {
  font-size : 36px;
  padding-right: 10px;
  color: #aece61;
}
.icon-box {
  position: relative;
  margin-top: 20px;
  padding: 0 0 0 80px;
  margin-left: 0%;
  @media (min-width: 800px) {
    margin-left: 30%;
    }
}
.icon-left {
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 0;
  left: 0;
}


// changes how many lines the icon text in the how it works seciton are on
.col-md-4 {
  @media (min-width: 768px) {
    flex: 0 0 33.3333333333%;
    max-width: 77%;
    }
  }

  .works-text {
    margin-left: 40px;
  }
