.show-content {
  background-color: #665f7a;
  border: 1px solid #c1c1c1;
  padding: 15px;
  border-radius: 20px;
  p {
    margin-bottom: 0.2em;
  }
}

.show-card {
  width: 500px;
}

.send-mail {
  width: 500px;
}
