.container-instance-index {
  width: 100vw;
  height: (100vh -1px);
  background-color: #766E8C;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  content-align: center;
  justify-content: space-evenly;
}

.instance-index-div {
  // min-width: 300px;
  padding: 8px;
}
